@use '../util' as u;

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: u.rem(40);
	width: min(100% - u.rem(40), u.rem(1000));
	margin-inline: auto;

	@include u.breakpoint(large) {
		// Sass allows you to write media queries within CSS selectors
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
	}

	&__main,
	&__sidebar {
		padding: u.rem(40);
	}

	&__main {
		// & represents the parent (in this case "grid")
		background-color: hsl(240, 100%, 33%);
		@include u.breakpoint(medium) {
			background-color: hsl(120, 97%, 15%);
		}
		@include u.breakpoint(large) {
			background-color: hsl(39, 100%, 43%);
		}
	}

	&__sidebar {
		@include u.breakpoint-down(medium) {
			text-align: center;
		}
		@include u.breakpoint-down(small) {
			text-align: right;
		}
	}

	&__widget {
		padding: u.rem(16);

		&.magenta {
			//Modifier (of BEM)
			//Helper/utility class
			background-color: hsl(300, 100%, 35%);
		}

		&.green {
			background-color: hsl(120, 100%, 28%);
		}
	}
}
